upstream webservers {
        #round-robin;
        server 10.10.0.20:80 weight=1;
        server 10.10.0.30:80 weight=1;
}

server {
        listen 3000;
        server_name _;
        location / {
                proxy_pass http://webservers;
        }
}
